body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.tomato-color{
    color: tomato;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.felxible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, orange);
    background-color: tomato;
    padding: 8px 30px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.the-end{
    background-image: linear-gradient(rgb(123, 123, 238), rgb(230, 119, 100));
    background-color: tomato;
    text-align: center;
}
.white-color{
    color: white;
}
.my-mission{
    text-align: center;
}
.light-background{
    background-color: rgb(206, 206, 250);
}
.tomato-background{
    background-color: rgb(248, 221, 217);
}
.green-background{
    background-color: rgb(230, 248, 202);
}
.develop-limits{
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    background-position: left;

}
.global-community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right;
}